#main_wrapper
{
	width:800px;
	margin-left: 100px;
	margin-right: 100px;
	background-color: #000000;
}

#header
{
	background-color: #000000;
	margin-top: 10px;
	margin-bottom: 5px;
}

#header_inner
{
	padding: 2px 2px;
	height: 160px;
	background:#000000 url("banner.jpg") repeat-y;
	
}

#abs
{
	position:absolute;
	left:750px;
	top:25px;
}

#help
{
	background:url("repeat.jpg") repeat-y;
	width: 800px;
	overflow: auto;
}

#nav
{
	width:160px;
	float: left;
	margin-right: 10px;
	color:#FFFFFF;
}

#nav_inner
{
	font-size: 20px;
	text-transform:uppercase;
	padding-top: 10px;
	padding-bottom: 10px;
}

#content
{
	width:624px;
	float: right;
}

#content_inner
{
	border: 2px solid #FFFFFF;
	padding-left: 10px;
	padding-right: 10px;
}

#float
{
	float: right;
	width: 150px;
	margin: 0 0 10px 10px;
	background-color: #AAAAAA;
	padding: 10px;
	text-align: center;
}

#i
{
	font-style:italic;
	font-family:Arial;
}

h1
{
	color:#FF8F33;
	text-transform:uppercase;
	font-family: Verdana;
	letter-spacing: 1.5px;
	margin-bottom: 15px;
}

p
{
	font-size:12pt;
	font-family:Arial;
	font-variant:normal;
	font-weight:900;
	text-decoration:none;
	letter-spacing: 1px;
	word-spacing: 0.2em;
	text-decoration: none;
	line-height: 1.7em;
	padding-left: 5px;
	margin-bottom: 15px;
}

#footer
{
	clear: both;
	height: 50px;
	background-color: #000000;
	margin-top: 10px;
}

#footer_inner{}

.fl
{
	float: left;
	margin-right: 10px;
}

a:link {color:#FFFFFF;}      
a:visited {color:#FFFFFF;}  
a:active {color:#FFFFFF;}  
a:hover {color:#FFFFFF;}  

a
{
	text-decoration:none;
	
}

body
{
	background-color: #000000;
	color: #FFFFFF;
}

#nav_inner ul
{
	list-style-type: none;
	margin-left: 20px;
}

#nav_inner li
{
	display: inline-block;
	width:120px;
	font-family: Georgia;
	letter-spacing: 1.5px;
	margin-bottom: 5px;
}

#nav_inner li:hover
{
	background-color: #7931C2;
	
}

*{
	padding:0px;
	margin:0px;
}